.contenedor {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: row-reverse;
}

p {
  margin: 0px;
}
.panel {
  width: 400px;
  background-color: rgb(218, 218, 218);
  margin: 20px;
  padding: 10px;
}

.log {
  background-color: rgb(127, 127, 127);
  border-radius: 5px;
}
